<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CuteAnt" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.AsyncEx" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.Extensions.DependencyInjection.Abstractions" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.Extensions.Logging" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.Extensions.Logging.Abstractions" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.Extensions.Primitives" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="CuteAnt.Runtime" version="2.0.0-rc3-160601" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.5" targetFramework="net451" />
  <package id="Ix-Main" version="1.2.5" targetFramework="net451" />
  <package id="jose-jwt" version="1.9.2" targetFramework="net451" />
  <package id="LinqOptimizer.CSharp" version="2.0.0-rc2-150808" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.4-rc3-160601" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.38-rc1-final" targetFramework="net451" />
</packages>